.header-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ffffff; /* цвет фона по вашему выбору */
    padding: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* тень, если нужна */
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  